#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  place-items: center;
}

.vertical-timeline-element-content-arrow {
  display: none;
}

.vertical-timeline-element-content {
  box-shadow: none !important;
  background: none !important;
}

.vertical-timeline-element-icon {
  width: 2rem !important;
  height: 2rem !important;
  background: var(--primary);
  box-shadow: none !important;
}

.vertical-timeline::before {
  background: var(--secondary-background) !important;
  left: 1rem !important;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em var(--primary));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */